{{ 'before-after-slider.css' | asset_url | stylesheet_tag }}

<section class="before-after-slider">
  <div class="before-after-slider__titles page-width">
    <h2>See for yourself</h2>
    <p>These results were shared by actual customers</p>
  </div>
  <div class="before-after-slider__wrapper">
    <div class="swiper before-after-slider__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="before-after-slider__slide">
            <div class="before-after-slider__slide-part">
              <div class="before-after-slider__slide-image">
                <img src="{{ 'before-slide-1.jpg' | asset_url }}" width="320" height="470" alt="Before Volufiline – Hollow Under Eyes and Fine Lines">
              </div>
              <span class="before-after-slider__slide-text">Before</span>
            </div>
            <div class="before-after-slider__slide-part">
              <div class="before-after-slider__slide-image">
                <img src="{{ 'after-slide-1.jpg' | asset_url }}" width="320" height="470" alt="Before Using Volufiline Serum – Loss of Skin Volume">
              </div>
              <span class="before-after-slider__slide-text">After 2 Weeks</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="before-after-slider__slide">
            <div class="before-after-slider__slide-part">
              <div class="before-after-slider__slide-image">
                <img src="{{ 'before-slide-2.jpg' | asset_url }}" width="320" height="470" alt="Before Volufiline – Visible Smile Lines and Eye Bags">
              </div>
              <span class="before-after-slider__slide-text">Before</span>
            </div>
            <div class="before-after-slider__slide-part">
              <div class="before-after-slider__slide-image">
                <img src="{{ 'after-slide-2.jpg' | asset_url }}" width="320" height="470" alt="Before Volufiline Treatment – Flat Cheeks and Lines">
              </div>
              <span class="before-after-slider__slide-text">After 60 Days</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="before-after-slider__slide">
            <div class="before-after-slider__slide-part">
              <div class="before-after-slider__slide-image">
                <img src="{{ 'before-slide-3.jpg' | asset_url }}" width="320" height="470" alt="Before Skin Plumping with Volufiline Serum">
              </div>
              <span class="before-after-slider__slide-text">Before</span>
            </div>
            <div class="before-after-slider__slide-part">
              <div class="before-after-slider__slide-image">
                <img src="{{ 'after-slide-3.jpg' | asset_url }}" width="320" height="470" alt="Before Applying Volufiline – Signs of Aging Around Eyes">
              </div>
              <span class="before-after-slider__slide-text">After 8 Weeks</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="before-after-slider__slide">
            <div class="before-after-slider__slide-part">
              <div class="before-after-slider__slide-image">
                <img src="{{ 'before-slide-4.png' | asset_url }}" width="320" height="470" alt="Before Facial Volume Restoration with Volufiline">
              </div>
              <span class="before-after-slider__slide-text">Before</span>
            </div>
            <div class="before-after-slider__slide-part">
              <div class="before-after-slider__slide-image">
                <img src="{{ 'after-slide-4.png' | asset_url }}" width="320" height="470" alt="Before Volufiline – Tired Eyes and Sagging Skin">
              </div>
              <span class="before-after-slider__slide-text">After 6 Weeks</span>
            </div>
          </div>
        </div>

         <div class="swiper-slide">
          <div class="before-after-slider__slide">
            <div class="before-after-slider__slide-part">
              <div class="before-after-slider__slide-image">
                <img src="{{ 'before-slide-5.png' | asset_url }}" width="320" height="470" alt="Before Volufiline – Tired Eyes and Sagging Skin">
              </div>
              <span class="before-after-slider__slide-text">Before</span>
            </div>
            <div class="before-after-slider__slide-part">
              <div class="before-after-slider__slide-image">
                <img src="{{ 'after-slide-5.png' | asset_url }}" width="320" height="470" alt="Before Volufiline – Uneven Texture and Wrinkles">
              </div>
              <span class="before-after-slider__slide-text">After 90 days </span>
            </div>
          </div>
        </div>

         <div class="swiper-slide">
          <div class="before-after-slider__slide">
            <div class="before-after-slider__slide-part">
              <div class="before-after-slider__slide-image">
                <img src="{{ 'before-slide-6.png' | asset_url }}" width="320" height="470" alt="Before Volufiline Serum – Low Volume in Cheeks and Temples">
              </div>
              <span class="before-after-slider__slide-text">Before</span>
            </div>
            <div class="before-after-slider__slide-part">
              <div class="before-after-slider__slide-image">
                <img src="{{ 'after-slide-6.png' | asset_url }}" width="320" height="470" alt="Before Volufiline Use – Dullness and Volume Loss">
              </div>
              <span class="before-after-slider__slide-text">After 5 Weeks</span>
            </div>
          </div>
        </div>

          <div class="swiper-slide">
          <div class="before-after-slider__slide">
            <div class="before-after-slider__slide-part">
              <div class="before-after-slider__slide-image">
                <img src="{{ 'before-slide-7.png' | asset_url }}" width="320" height="470" alt="Before Volufiline – Visible Wrinkles Around Eyes and Mouth">
              </div>
              <span class="before-after-slider__slide-text">Before</span>
            </div>
            <div class="before-after-slider__slide-part">
              <div class="before-after-slider__slide-image">
                <img src="{{ 'after-slide-7.png' | asset_url }}" width="320" height="470" alt="Before Using Volufiline Serum – Volume Depletion Under Eyes">
              </div>
              <span class="before-after-slider__slide-text">After 30 Days</span>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const swiperBeforeAfter = new Swiper('.before-after-slider__swiper', {
      spaceBetween: 8,
      slidesPerView: 1.2,

      pagination: {
        el: '.swiper-pagination',
      },

      breakpoints: {
        767: {
          spaceBetween: 10,
          slidesPerView: 2,
        },

        992: {
          slidesPerView: 3,
          centeredSlides: true,
          loop: true,
        },
      },
    });
  });
</script>

{% schema %}
{
  "name": "Before After Slider",
  "settings": [],
  "presets": [
    {
      "name": "Before After Slider"
    }
  ]
}
{% endschema %}
