{{ 'result-slider.css' | asset_url | stylesheet_tag }}

<section class="result-slider page-width">
  <div class="result-slider__titles">
    <h2>Real users, real results</h2>
  </div>

  <div class="result-slider__wrapper">
    <div class="swiper result-slider__swiper result-slider__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="result-slider__slide">
            <div class="result-slider__slide-image">
              <img src="{{ 'result-1.jpg' | asset_url }}" width="556" height="556">
            </div>
            <div class="result-slider__slide-content">
              <div class="result-slider__slide-content-top">
                <div class="result-slider__slide-author">
                  <div class="result-slider__slide-name">
                    <span class="country">
                      <img src="{{ 'usa.png' | asset_url }}" width="25" height="25">
                    </span>
                    <p>Emma -</p>
                  </div>

                  <div class="result-slider__slide-verified">
                    <span class="verified-icon">
                      <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_98_385" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="17" height="16">
                        <path d="M8.2674 15.1034C9.2006 15.1046 10.125 14.9213 10.9872 14.5642C11.8493 14.2071 12.6324 13.683 13.2915 13.0222C13.9523 12.3632 14.4763 11.58 14.8335 10.7178C15.1906 9.85564 15.3738 8.93139 15.3727 7.99811C15.3738 7.06486 15.1906 6.14057 14.8335 5.27836C14.4763 4.41615 13.9523 3.63302 13.2915 2.97397C12.6324 2.31319 11.8493 1.78916 10.9872 1.43201C10.125 1.07486 9.2006 0.891625 8.2674 0.892828C7.33415 0.891644 6.40985 1.07488 5.54764 1.43204C4.68544 1.78919 3.9023 2.3132 3.24326 2.97397C2.58249 3.63302 2.05848 4.41615 1.70132 5.27836C1.34417 6.14057 1.16093 7.06486 1.16212 7.99811C1.16091 8.93139 1.34414 9.85564 1.7013 10.7178C2.05845 11.58 2.58248 12.3632 3.24326 13.0222C3.9023 13.683 4.68544 14.207 5.54764 14.5642C6.40985 14.9213 7.33415 15.1045 8.2674 15.1034Z" fill="white" stroke="white" stroke-width="1.42105" stroke-linejoin="round"/>
                        <path d="M5.42578 7.99803L7.55736 10.1297L11.8205 5.86646" stroke="black" stroke-width="1.42105" stroke-linecap="round" stroke-linejoin="round"/>
                        </mask>
                        <g mask="url(#mask0_98_385)">
                        <path d="M-0.258789 -0.526367H16.7939V16.5263H-0.258789V-0.526367Z" fill="#5CB8B2"/>
                        </g>
                      </svg>
                    </span>
                    <p>Verified buyer</p>
                  </div>
                </div>

                <div class="result-slider__slide-increase">
                  <div class="result-slider__slide-percent">25%</div>
                  <div class="result-slider__slide-increase-text">
                    <p>Volume Increase after 2 weeks</p>
                  </div>
                </div>

                <h3 class="result-slider__slide-title">What real users have noticed:</h3>

                <ul class="result-slider__slide-list">
                  <li class="result-slider__slide-list-item">
                    <span class="result-slider__slide-list-icon">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.25533 13.6181L4.95312 10.3159L6.1089 9.16009L8.25533 11.3066L13.704 5.85791L14.8597 7.01368L8.25533 13.6181Z" fill="#07272D"/>
                        <path d="M9.90639 1.11389H9.90632C5.00637 1.11389 1.03418 5.08608 1.03418 9.98603V9.9861C1.03418 14.886 5.00637 18.8582 9.90632 18.8582H9.90639C14.8063 18.8582 18.7785 14.886 18.7785 9.9861V9.98603C18.7785 5.08608 14.8063 1.11389 9.90639 1.11389Z" stroke="#07272D" stroke-width="2.06897"/>
                      </svg>
                    </span>

                    <p>A fuller, more hydrated appearance under the eyes and along the cheeks.</p>
                  </li>

                  <li class="result-slider__slide-list-item">
                    <span class="result-slider__slide-list-icon">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.25533 13.6181L4.95312 10.3159L6.1089 9.16009L8.25533 11.3066L13.704 5.85791L14.8597 7.01368L8.25533 13.6181Z" fill="#07272D"/>
                        <path d="M9.90639 1.11389H9.90632C5.00637 1.11389 1.03418 5.08608 1.03418 9.98603V9.9861C1.03418 14.886 5.00637 18.8582 9.90632 18.8582H9.90639C14.8063 18.8582 18.7785 14.886 18.7785 9.9861V9.98603C18.7785 5.08608 14.8063 1.11389 9.90639 1.11389Z" stroke="#07272D" stroke-width="2.06897"/>
                      </svg>
                    </span>

                    <p>Users reported smoother skin and reduced fine lines over time.</p>
                  </li>
                </ul>
              </div>

              <div class="result-slider__slide-description">
                <p>
                  <span>In user surveys</span> many participants reported visible improvements in skin plumpness and
                  texture after consistent daily use of our Anemarrhena-based formula for 4 weeks, describing skin that
                  looked fuller, smoother, and more refreshed.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="result-slider__slide">
            <div class="result-slider__slide-image">
              <img src="{{ 'result-2.jpg' | asset_url }}" width="556" height="556">
            </div>
            <div class="result-slider__slide-content">
              <div class="result-slider__slide-content-top">
                <div class="result-slider__slide-author">
                  <div class="result-slider__slide-name">
                    <span class="country">
                      <img src="{{ 'usa.png' | asset_url }}" width="25" height="25">
                    </span>
                    <p>Lila -</p>
                  </div>

                  <div class="result-slider__slide-verified">
                    <span class="verified-icon">
                      <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_98_385" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="17" height="16">
                        <path d="M8.2674 15.1034C9.2006 15.1046 10.125 14.9213 10.9872 14.5642C11.8493 14.2071 12.6324 13.683 13.2915 13.0222C13.9523 12.3632 14.4763 11.58 14.8335 10.7178C15.1906 9.85564 15.3738 8.93139 15.3727 7.99811C15.3738 7.06486 15.1906 6.14057 14.8335 5.27836C14.4763 4.41615 13.9523 3.63302 13.2915 2.97397C12.6324 2.31319 11.8493 1.78916 10.9872 1.43201C10.125 1.07486 9.2006 0.891625 8.2674 0.892828C7.33415 0.891644 6.40985 1.07488 5.54764 1.43204C4.68544 1.78919 3.9023 2.3132 3.24326 2.97397C2.58249 3.63302 2.05848 4.41615 1.70132 5.27836C1.34417 6.14057 1.16093 7.06486 1.16212 7.99811C1.16091 8.93139 1.34414 9.85564 1.7013 10.7178C2.05845 11.58 2.58248 12.3632 3.24326 13.0222C3.9023 13.683 4.68544 14.207 5.54764 14.5642C6.40985 14.9213 7.33415 15.1045 8.2674 15.1034Z" fill="white" stroke="white" stroke-width="1.42105" stroke-linejoin="round"/>
                        <path d="M5.42578 7.99803L7.55736 10.1297L11.8205 5.86646" stroke="black" stroke-width="1.42105" stroke-linecap="round" stroke-linejoin="round"/>
                        </mask>
                        <g mask="url(#mask0_98_385)">
                        <path d="M-0.258789 -0.526367H16.7939V16.5263H-0.258789V-0.526367Z" fill="#5CB8B2"/>
                        </g>
                      </svg>
                    </span>
                    <p>Verified buyer</p>
                  </div>
                </div>

                <div class="result-slider__slide-increase">
                  <div class="result-slider__slide-percent">22%</div>
                  <div class="result-slider__slide-increase-text">
                    <p>Volume Increase after 2 weeks</p>
                  </div>
                </div>

                <h3 class="result-slider__slide-title">What real users have noticed:</h3>

                <ul class="result-slider__slide-list">
                  <li class="result-slider__slide-list-item">
                    <span class="result-slider__slide-list-icon">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.25533 13.6181L4.95312 10.3159L6.1089 9.16009L8.25533 11.3066L13.704 5.85791L14.8597 7.01368L8.25533 13.6181Z" fill="#07272D"/>
                        <path d="M9.90639 1.11389H9.90632C5.00637 1.11389 1.03418 5.08608 1.03418 9.98603V9.9861C1.03418 14.886 5.00637 18.8582 9.90632 18.8582H9.90639C14.8063 18.8582 18.7785 14.886 18.7785 9.9861V9.98603C18.7785 5.08608 14.8063 1.11389 9.90639 1.11389Z" stroke="#07272D" stroke-width="2.06897"/>
                      </svg>
                    </span>

                    <p>Increase in volume by up to 25% in cheeks and under-eyes.</p>
                  </li>

                  <li class="result-slider__slide-list-item">
                    <span class="result-slider__slide-list-icon">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.25533 13.6181L4.95312 10.3159L6.1089 9.16009L8.25533 11.3066L13.704 5.85791L14.8597 7.01368L8.25533 13.6181Z" fill="#07272D"/>
                        <path d="M9.90639 1.11389H9.90632C5.00637 1.11389 1.03418 5.08608 1.03418 9.98603V9.9861C1.03418 14.886 5.00637 18.8582 9.90632 18.8582H9.90639C14.8063 18.8582 18.7785 14.886 18.7785 9.9861V9.98603C18.7785 5.08608 14.8063 1.11389 9.90639 1.11389Z" stroke="#07272D" stroke-width="2.06897"/>
                      </svg>
                    </span>

                    <p>Users reported smoother skin and reduced fine lines over time.</p>
                  </li>
                </ul>
              </div>

              <div class="result-slider__slide-description">
                <p>
                  <span>In user surveys</span> many participants reported visible improvements in skin plumpness and
                  texture after consistent daily use of our Anemarrhena-based formula for 4 weeks, describing skin that
                  looked fuller, smoother, and more refreshed.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="result-slider__slide">
            <div class="result-slider__slide-image">
              <img src="{{ 'result-3.jpg' | asset_url }}" width="556" height="556">
            </div>
            <div class="result-slider__slide-content">
              <div class="result-slider__slide-content-top">
                <div class="result-slider__slide-author">
                  <div class="result-slider__slide-name">
                    <span class="country">
                      <img src="{{ 'usa.png' | asset_url }}" width="25" height="25">
                    </span>
                    <p>Amanda -</p>
                  </div>

                  <div class="result-slider__slide-verified">
                    <span class="verified-icon">
                      <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_98_385" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="17" height="16">
                        <path d="M8.2674 15.1034C9.2006 15.1046 10.125 14.9213 10.9872 14.5642C11.8493 14.2071 12.6324 13.683 13.2915 13.0222C13.9523 12.3632 14.4763 11.58 14.8335 10.7178C15.1906 9.85564 15.3738 8.93139 15.3727 7.99811C15.3738 7.06486 15.1906 6.14057 14.8335 5.27836C14.4763 4.41615 13.9523 3.63302 13.2915 2.97397C12.6324 2.31319 11.8493 1.78916 10.9872 1.43201C10.125 1.07486 9.2006 0.891625 8.2674 0.892828C7.33415 0.891644 6.40985 1.07488 5.54764 1.43204C4.68544 1.78919 3.9023 2.3132 3.24326 2.97397C2.58249 3.63302 2.05848 4.41615 1.70132 5.27836C1.34417 6.14057 1.16093 7.06486 1.16212 7.99811C1.16091 8.93139 1.34414 9.85564 1.7013 10.7178C2.05845 11.58 2.58248 12.3632 3.24326 13.0222C3.9023 13.683 4.68544 14.207 5.54764 14.5642C6.40985 14.9213 7.33415 15.1045 8.2674 15.1034Z" fill="white" stroke="white" stroke-width="1.42105" stroke-linejoin="round"/>
                        <path d="M5.42578 7.99803L7.55736 10.1297L11.8205 5.86646" stroke="black" stroke-width="1.42105" stroke-linecap="round" stroke-linejoin="round"/>
                        </mask>
                        <g mask="url(#mask0_98_385)">
                        <path d="M-0.258789 -0.526367H16.7939V16.5263H-0.258789V-0.526367Z" fill="#5CB8B2"/>
                        </g>
                      </svg>
                    </span>
                    <p>Verified buyer</p>
                  </div>
                </div>

                <div class="result-slider__slide-increase">
                  <div class="result-slider__slide-percent">27%</div>
                  <div class="result-slider__slide-increase-text">
                    <p>Volume Increase after 2 weeks</p>
                  </div>
                </div>

                <h3 class="result-slider__slide-title">What real users have noticed:</h3>

                <ul class="result-slider__slide-list">
                  <li class="result-slider__slide-list-item">
                    <span class="result-slider__slide-list-icon">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.25533 13.6181L4.95312 10.3159L6.1089 9.16009L8.25533 11.3066L13.704 5.85791L14.8597 7.01368L8.25533 13.6181Z" fill="#07272D"/>
                        <path d="M9.90639 1.11389H9.90632C5.00637 1.11389 1.03418 5.08608 1.03418 9.98603V9.9861C1.03418 14.886 5.00637 18.8582 9.90632 18.8582H9.90639C14.8063 18.8582 18.7785 14.886 18.7785 9.9861V9.98603C18.7785 5.08608 14.8063 1.11389 9.90639 1.11389Z" stroke="#07272D" stroke-width="2.06897"/>
                      </svg>
                    </span>

                    <p>Increase in volume by up to 25% in cheeks and under-eyes.</p>
                  </li>

                  <li class="result-slider__slide-list-item">
                    <span class="result-slider__slide-list-icon">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.25533 13.6181L4.95312 10.3159L6.1089 9.16009L8.25533 11.3066L13.704 5.85791L14.8597 7.01368L8.25533 13.6181Z" fill="#07272D"/>
                        <path d="M9.90639 1.11389H9.90632C5.00637 1.11389 1.03418 5.08608 1.03418 9.98603V9.9861C1.03418 14.886 5.00637 18.8582 9.90632 18.8582H9.90639C14.8063 18.8582 18.7785 14.886 18.7785 9.9861V9.98603C18.7785 5.08608 14.8063 1.11389 9.90639 1.11389Z" stroke="#07272D" stroke-width="2.06897"/>
                      </svg>
                    </span>

                    <p>Users reported smoother skin and reduced fine lines over time.</p>
                  </li>
                </ul>
              </div>

              <div class="result-slider__slide-description">
                <p>
                  <span>In user surveys</span> many participants reported visible improvements in skin plumpness and
                  texture after consistent daily use of our Anemarrhena-based formula for 4 weeks, describing skin that
                  looked fuller, smoother, and more refreshed.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="result-slider__navigation-btns">
        <!--
          <div class="volufiline-swiper-button-prev">
            <svg width="26" height="21" viewBox="0 0 26 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M24.875 10.5L1.125 10.5M1.125 10.5L10.0312 20M1.125 10.5L10.0312 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        -->
        <div class="result-slider__pagination"></div>
        <!--
          <div class="volufiline-swiper-button-next">
            <svg width="26" height="21" viewBox="0 0 26 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.125 10.5L24.875 10.5M24.875 10.5L15.9688 1M24.875 10.5L15.9688 20" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        -->
      </div>
    </div>
  </div>

  <div class="volufiline-purchase__cta result-slider__purchase">
    <div class="volufiline-purchase__quantity-wrapper">
      <div class="volufiline-purchase__quantity">
        {% assign product = all_products.volufiline %}
        {%- assign product_form_id = 'product-form-' | append: section.id -%}
        <div
          id="Quantity-Form-{{ section.id }}"
          class="product-form__input product-form__quantity product-form__quantity-top"
        >
          {% comment %} TODO: enable theme-check once `item_count_for_variant` is accepted as valid filter {% endcomment %}
          {% # theme-check-disable %}
          {%- assign cart_qty = cart | item_count_for_variant: product.selected_or_first_available_variant.id -%}
          {% # theme-check-enable %}

          <label class="quantity__label form__label" for="Quantity-{{ section.id }}">
            {{ 'products.product.quantity.label' | t }}
            <span class="quantity__rules-cart{% if cart_qty == 0 %} hidden{% endif %}">
              {%- render 'loading-spinner' -%}
              <span
                >(
                {{- 'products.product.quantity.in_cart_html' | t: quantity: cart_qty -}}
                )</span
              >
            </span>
          </label>

          <div class="price-per-item__container">
            <quantity-input class="quantity" data-url="{{ product.url }}" data-section="{{ section.id }}">
              <button class="quantity__button" name="minus" type="button">
                <span class="visually-hidden">
                  {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                </span>
                <span class="svg-wrapper">
                  {{- 'icon-minus.svg' | inline_asset_content -}}
                </span>
              </button>
              <input
                class="quantity__input"
                type="number"
                name="quantity"
                id="Quantity-{{ section.id }}"
                data-cart-quantity="{{ cart_qty }}"
                data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                  data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                  max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                {% endif %}
                step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                form="{{ product_form_id }}"
              >
              <button class="quantity__button" name="plus" type="button">
                <span class="visually-hidden">
                  {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                </span>
                <span class="svg-wrapper">
                  {{- 'icon-plus.svg' | inline_asset_content -}}
                </span>
              </button>
            </quantity-input>
            {%- liquid
              assign volume_pricing_array = product.selected_or_first_available_variant.quantity_price_breaks | sort: 'quantity' | reverse
              assign current_qty_for_volume_pricing = cart_qty | plus: product.selected_or_first_available_variant.quantity_rule.min
              if cart_qty > 0
                assign current_qty_for_volume_pricing = cart_qty | plus: product.selected_or_first_available_variant.quantity_rule.increment
              endif
            -%}
            {%- if product.quantity_price_breaks_configured? -%}
              <price-per-item
                id="Price-Per-Item-{{ section.id }}"
                data-section-id="{{ section.id }}"
                data-variant-id="{{ product.selected_or_first_available_variant.id }}"
              >
                {%- if product.selected_or_first_available_variant.quantity_price_breaks.size > 0 -%}
                  {%- assign variant_price_compare = product.selected_or_first_available_variant.compare_at_price -%}
                  <div class="price-per-item">
                    {%- if variant_price_compare -%}
                      <dl class="price-per-item--current">
                        <dt class="visually-hidden">
                          {{ 'products.product.price.regular_price' | t }}
                        </dt>
                        <dd>
                          <s class="variant-item__old-price">
                            {{ variant_price_compare | money_with_currency }}
                          </s>
                        </dd>
                      </dl>
                    {%- endif -%}
                    {%- if current_qty_for_volume_pricing < volume_pricing_array.last.minimum_quantity -%}
                      {%- assign variant_price = product.selected_or_first_available_variant.price
                        | money_with_currency
                      -%}
                      <span class="price-per-item--current">
                        {{- 'products.product.volume_pricing.price_at_each_html' | t: price: variant_price -}}
                      </span>
                    {%- else -%}
                      {%- for price_break in volume_pricing_array -%}
                        {%- if current_qty_for_volume_pricing >= price_break.minimum_quantity -%}
                          {%- assign price_break_price = price_break.price | money_with_currency -%}
                          <span class="price-per-item--current">
                            {{- 'products.product.volume_pricing.price_at_each_html' | t: price: price_break_price -}}
                          </span>
                          {%- break -%}
                        {%- endif -%}
                      {%- endfor -%}
                    {%- endif -%}
                  </div>
                {%- else -%}
                  {%- assign variant_price = product.selected_or_first_available_variant.price | money_with_currency -%}
                  {%- assign variant_price_compare = product.selected_or_first_available_variant.compare_at_price -%}
                  <div class="price-per-item">
                    {%- if variant_price_compare -%}
                      <dl class="price-per-item--current">
                        <dt class="visually-hidden">
                          {{ 'products.product.price.regular_price' | t }}
                        </dt>
                        <dd>
                          <s class="variant-item__old-price">
                            {{ variant_price_compare | money_with_currency }}
                          </s>
                        </dd>
                        <dt class="visually-hidden">
                          {{ 'products.product.price.sale_price' | t }}
                        </dt>
                        <dd>
                          <span class="price-per-item--current">
                            {{- 'products.product.volume_pricing.price_at_each_html' | t: price: variant_price -}}
                          </span>
                        </dd>
                      </dl>
                    {%- else -%}
                      <span class="price-per-item--current">
                        {{- 'products.product.volume_pricing.price_at_each_html' | t: price: variant_price -}}
                      </span>
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </price-per-item>
            {%- endif -%}
          </div>
          <div class="quantity__rules caption" id="Quantity-Rules-{{ section.id }}">
            {%- if product.selected_or_first_available_variant.quantity_rule.increment > 1 -%}
              <span class="divider">
                {{-
                  'products.product.quantity.multiples_of'
                  | t: quantity: product.selected_or_first_available_variant.quantity_rule.increment
                -}}
              </span>
            {%- endif -%}
            {%- if product.selected_or_first_available_variant.quantity_rule.min > 1 -%}
              <span class="divider">
                {{-
                  'products.product.quantity.minimum_of'
                  | t: quantity: product.selected_or_first_available_variant.quantity_rule.min
                -}}
              </span>
            {%- endif -%}
            {%- if product.selected_or_first_available_variant.quantity_rule.max != null -%}
              <span class="divider">
                {{-
                  'products.product.quantity.maximum_of'
                  | t: quantity: product.selected_or_first_available_variant.quantity_rule.max
                -}}
              </span>
            {%- endif -%}
          </div>
          {%- if product.quantity_price_breaks_configured? -%}
            <volume-pricing class="parent-display" id="Volume-{{ section.id }}">
              {%- if product.selected_or_first_available_variant.quantity_price_breaks.size > 0 -%}
                <span class="caption-large">{{ 'products.product.volume_pricing.title' | t }}</span>
                <ul class="list-unstyled">
                  <li>
                    <span>{{ product.selected_or_first_available_variant.quantity_rule.min }}+</span>
                    {%- assign price = product.selected_or_first_available_variant.price | money_with_currency -%}
                    <span data-text="{{ 'products.product.volume_pricing.price_at_each_html' | t: price: variant_price }}">
                      {{- 'sections.quick_order_list.each' | t: money: price -}}
                    </span>
                  </li>
                  {%- for price_break in product.selected_or_first_available_variant.quantity_price_breaks -%}
                    {%- assign price_break_price = price_break.price | money_with_currency -%}
                    <li class="{%- if forloop.index >= 3 -%}show-more-item hidden{%- endif -%}">
                      <span>
                        {{- price_break.minimum_quantity -}}
                        <span aria-hidden="true">+</span></span
                      >
                      <span data-text="{{ 'products.product.volume_pricing.price_at_each_html' | t: price: price_break_price }}">
                        {{- 'sections.quick_order_list.each' | t: money: price_break_price -}}
                      </span>
                    </li>
                  {%- endfor -%}
                </ul>
                {%- if product.selected_or_first_available_variant.quantity_price_breaks.size >= 3 -%}
                  <show-more-button>
                    <button
                      class="button-show-more link underlined-link"
                      id="Show-More-{{ section.id }}"
                      type="button"
                    >
                      <span class="label-show-more label-text"
                        ><span aria-hidden="true">+ </span>{{ 'products.facets.show_more' | t }}
                      </span>
                    </button>
                  </show-more-button>
                {%- endif -%}
              {%- endif -%}
            </volume-pricing>
          {%- endif -%}
        </div>
      </div>

      <div class="volufiline-purchase__buy">
        {%- render 'buy-buttons',
          product: product,
          product_form_id: product_form_id,
          section_id: section.id,
          show_pickup_availability: true
        -%}
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const swiperResult = new Swiper('.result-slider__swiper', {
      spaceBetween: 20,
      slidesPerView: 1,

      navigation: {
        nextEl: '.volufiline-swiper-button-next',
        prevEl: '.volufiline-swiper-button-prev',
      },
      pagination: {
        el: '.result-slider__pagination',
        clickable: true,
      },
    });
  });
</script>

{% schema %}
{
  "name": "Result Slider",
  "settings": [],
  "presets": [
    {
      "name": "Result Slider"
    }
  ]
}
{% endschema %}
